/*footer*/
.pie{
    background-color: $bck-marron;
    justify-content: space-evenly;
    padding: 25px;
}
.pie__logo{
    width: 22%;
}
.pie__copy{
    color: $blanco;
    font-size: 0.7rem;
    text-align: center;
    padding-top: 20px ;
}