// Variables ✍
// Contenedor que tiene un nombre y que voy a poder "invocar" cuando lo necesite

//Titulos
// 👇               👇
$titulo-principal: "Varela Round", sans-serif;
$titulo-secundario:"Cedarville Cursive", cursive;
$size-titulo-principal: 10rem;
$size-titulo-secundario: 6rem;
$size-titulo-terciario: 4rem;

//Colores
$blanco: #f4eeee;
$color-primario:  #d94077;
$bck-marron:#30261C;
$bck-btn-h: #ffffff;
$background-pie: #e98f46;
